.Toolbar {
  display: flex;
  flex-direction: column;
  padding: var(--wide-gap);
}

.Toolbar-top {
  flex-grow: 1;
}

.Toolbar-section:not(:first-child) {
  margin-top: var(--wide-gap);
}

.Toolbar-title {
  margin: 0;
  padding: 4px 0;
  font-size: 1rem;
  color: var(--text-color);
}

.Toolbar-bottom > *:not(:first-child) {
  margin-top: var(--narrow-gap);
}

/* Can be <button> or <a> */
.Toolbar-button {
  display: block;
  width: 100%;
  height: 2rem;
  font-weight: bolder;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.2s;
}

.Toolbar-button.disabled {
  color: var(--disabled-text-color);
  cursor: disabled;
}

.Toolbar-button:not(.disabled):hover {
  background-color: var(--button-background-color-on-hover);
}

.Toolbar-link {
  display: block;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2rem;
  color: var(--link-color);
}
