.Toolbar {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Toolbar-top {
  flex-grow: 1;
}

.Toolbar-section:not(:first-child) {
  margin-top: 20px;
}

.Toolbar-title {
  margin: 0;
  padding: 4px 0;
  font-size: 1rem;
  color: var(--text-color);
}

.Toolbar-bottom > *:not(:first-child) {
  margin-top: var(--narrow-gap);
}
