* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", Avenir, Adobe Heiti Std, Segoe UI, Trebuchet MS,
    sans‑serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

input {
  font: inherit;
}

button {
  font: inherit;
}
